.character-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.character-shadow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 1;
}

.character {
  position: relative;
  z-index: 2;
  display: block;
  transition: transform 0.1s ease;
}

.character-facing-left {
  transform: scaleX(-1);
}

.character-facing-right {
  transform: none;
}