.door-label {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}